<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-md-3"></div>
        <div class="col-md-6 align-items-center pl-5 pt-5" id="images">
            
            <mat-card class="example-card">
                <img mat-card-image src="../../assets/pictures/mufti_logo-150x150.png" alt="Photo of a Shiba Inu" style="width: 50%; object-fit:cover; margin-left: 6.5rem;">
                <mat-card-actions>
                    <button mat-raised-button color="primary" routerLink="/home">SAJILI</button>
                    <button mat-raised-button color="primary"routerLink="/login">INGIA</button>
                </mat-card-actions>
              </mat-card>
              
        </div>
        <div class="col-md-3"></div>
        
    </div>

</div>
