<div class="container-fluid">
    <div class="row">
      <div class="col-md-3"></div>
      <div class="col-md-6">
        <mat-card class="example-card">
          <div class="card mb-2" style="align-items: center;">
            <h1>FOMU YA USAJILI WA MADRASAT </h1>
          </div>
          
          <button class="btn btn-primary" routerLink="/regisa">Sajili madrasa Hapa</button>
          
        </mat-card>
        </div>
        <div class="col-md-3">

        </div>
    </div>
</div>
